.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 10px; /* Reduced margin-bottom */
  position: relative;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.input.error {
  border-color: red;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px; /* Adjusted margin-bottom */
  display: flex;
  align-items: center;
}

.errorIcon {
  margin-right: 5px;
  color: red;
}

.button {
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.button:hover {
  background-color: #0056b3;
}

.success {
  color: green;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
}


.switchAuth {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

.switchAuth a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.switchAuth a:hover {
  color: #0056b3;
}



